[access]
	inheritFrom = All-Projects
[submit]
[access "refs/*"]
	owner = group user/Jyothi97
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Jyothi97
	label-Verified = -1..+1 group user/Jyothi97
	push = group user/Jyothi97
	read = group user/Jyothi97
	rebase = group user/Jyothi97
	removeReviewer = group user/Jyothi97
	submit = group user/Jyothi97
[access "refs/heads/*"]
	create = group user/Jyothi97
	push = +force group user/Jyothi97
	pushMerge = group user/Jyothi97
	read = group user/Jyothi97
[access "refs/tags/*"]
	push = group user/Jyothi97
	push = +force group user/Jyothi97
